.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.register-card {
  width: 300px;
  text-align: center;
}

.full-width {
  width: 100%;
}

.login-link {
  margin-top: 16px;
}

mat-card-title, p {
  color: white;
}
