.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-card {
    width: 300px;
    text-align: center;
  }
  
  .full-width {
    width: 100%;
  }
  
  .register-link {
    margin-top: 16px;
  }

  mat-card-title, p {
    color: white;
  }

  a {
    color: lightblue
  }
