.card {
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.img-box {
  width: 250px;
  height: 250px;
}

mat-card-title {
  font-size: 1.5em;
  font-weight: bold;
 
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

button.mat-button {
  font-weight: bold;
  color: #1976d2;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.toggle-button {
  margin-top: -80px; 
}

p {
  color: white;
}
